@model List<Common.DTO.DtoVuelo>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alas PUM</h1>
    <p>Vuelos hacia todo el mundo!</p>

</div>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>

    //$(document).ready(function () {

    //    $("#id_DropDownList").change(function () {
    //        var familiaSelect = $("#id_DropDownList").val();

    //        $.ajax({
    //            type: "POST",
    //            url: "https://localhost:44377/Home/FiltrarFamilia?familia=" + familiaSelect,
    //            success: function (data) {

    //                $('#searchable-container').html(data);
    //            }
    //        });
    //    });
    //});




</script>



<div class="row">
    <div>
        <h2>Vuelos</h2>

    </div>


    @using (Html.BeginForm())
    {


        <div class="navbar-fixed-top navbar-collapse collapse navbar-header" style="margin-top:0.8%; margin-left:75%">
            <ul class="nav navbar-nav">
                <li>@Html.TextBox("SearchString", null, new { @class = "search_input form-control" })</li>
                <li><input type="submit" value="Buscar" class="btn btn-primary" placeholder="Buscar" /></li>
            </ul>
        </div>



        @*<div id="FamiliS">
            <div class="col-md-10">
                @Html.DropDownList("id_DropDownList", (ICollection<SelectListItem>)ViewBag.colFamilias, "-- Familia --", new { @class = "form-control" })
            </div>
            <br />

        </div>*@

        @*<p>
            @Html.ActionLink("Ordenar por precios", "Index", new { sortOrder = ViewBag.PriceSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-primary" })
        </p>*@





    }

    <div>
        <div class="row" style="height:5000px; background-color: rgb(226, 226, 238);">
            <div class="container" id="searchable-container">

                @{
                    Html.RenderPartial("_listaVuelos");

                }

            </div>
        </div>
    </div>

</div>
<br />