@model List<Common.DTO.DtoAsiento>

@{
    ViewBag.Title = "ConfirmarAsientos";
}

<h2>Asientos escogidos</h2>

@using (Html.BeginForm("DatosClienteV", "Compra"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Número de asiento
                </th>
                <th>
                    Fila
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Precio
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroAsiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fila)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>



                </tr>
            }
        </tbody>
    </table>

<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">

        <input type="submit" value="Rellenar datos de compra" class="btn btn-success" />

    </div>
</div>
}