
@{
    ViewBag.Title = "ListarVuelo";
}
<script src="/Scripts/jquery-3.4.1.js"></script>

<script>
    

   

    $(document).ready(function () {
        var select = document.getElementById('TipoVuelo');
        select.addEventListener('change',
            function () {
                var tipo = this.options[select.selectedIndex].value;
                $.ajax({
                    cache: false,
                    type: "GET",
                    datatype: "text",
                    url: "https://localhost:44337/Vuelo/Filtro?Tipo=" + tipo,
                    success: function (result) {
                        
                        $('#vistaParcial').html(result);
                    }
                })
            });
    });

</script>

<h2>ListarVuelo</h2>


<div class="form-group">
    <label>Tipos de los vuelos</label>
    <select class="form-control" id="TipoVuelo">
        <option value="" selected>Tipos..</option>
        <option id="FNacional" value="Nacional">Nacional</option>
        <option id="FRegional" value="Regional">Regional</option>
        <option id="FIntercontinental" value="Intercontinental">Intercontinental</option>
    </select>
</div>

<div>
    <div class="row" style="height: 5000px; background-color: rgb(226, 226, 238);">
        <div class="container" id="vistaParcial">
            @{
                Html.RenderPartial("ListarNacional");

            }



        </div>
    </div>
</div>