@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agencia de vuelo ALAS PUM!</h1>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¡Panel administrativo!</h2>
   
        
    </div>
   
</div>