<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!--Jessica-->
	 <connectionStrings>
    <add name="AlasPUMEntities" connectionString="metadata=res://*/Model.Alas.csdl|res://*/Model.Alas.ssdl|res://*/Model.Alas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCN-PC\MSSQLSERVER01;initial catalog=AlasPUM;persist security info=True;user id=Jessica;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


	<!--Marcos-->
  <!--<connectionStrings>
    <add name="AlasPUMEntities" connectionString="metadata=res://*/Model.Alas.csdl|res://*/Model.Alas.ssdl|res://*/Model.Alas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARCOSHP\SQLEXPRESS;initial catalog=AlasPUM;persist security info=True;user id=Marcos;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>