@model List<Common.DTO.DtoVuelosMasAsientosVacios>

@{
    ViewBag.Title = "VuelosMasAsientosVacios";
}

<h2>Vuelos con más asientos vacíos</h2>


<table class="table">
    <thead>
        <tr>
       
            <th>
                Cantidad
            </th>
            <th>
                Número de vuelo
            </th>
            <th>
                Más asientos vacíos
            </th>
            <th>
                Menos asientos vacíos
            </th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroVuelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.menos)
                </td>
           
            </tr>
        }
    </tbody>
</table>
